@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* --brown-color: #591411; */
  --brown-color: linear-gradient(228deg, #230000 11%, #610000 26%);
  --sand-color: #fff9f7;
  --gold-color-light: #eba536;
  /* --gold-color: #eba536; */
  --gold-color: #eba536;
}
body {
  background: var(--sand-color);
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.632), rgba(0, 0, 0, 0.642)),
    url(./img/Background-Image-Aghni-Gold.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.hero img {
  height: 480px;
}
.header-container {
  background: var(--brown-color);
  width: 100%;
}
.logo {
  width: 80px;
}
.section-img {
  /* background: url(./img/Background-Image-Aghni-Gold.jpg) no-repeat; */
  background-position: center;
  background-size: cover;
}
.section-img img {
  max-height: 500px;
}
a {
  color: var(--gold-color);
}
.a-text {
  color: #000000;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.heading-color {
  color: #610000;
}
.heading-back {
  background: #610000;
}
.gold-color {
  color: var(--gold-color);
}
.gold-back {
  background: #eba536;
}
.table-fet ul {
  padding: 20px 0px;
}
.table-fet ul li {
  padding: 20px;
  border: 2px solid #610000;
}
.cta-bg {
  background: var(--brown-color);
}
.slide-text {
  background: #eba536;
}
.five-res ul li svg {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.five-res ul li {
  background: var(--brown-color);
}
.btn a {
  color: #fff;
}
.fixed-text {
  background-color: #f1b638;
  width: 80%;
  margin: 0 auto;
  border: 4px solid #610000;
}
.hidden-section {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
}

#fixedSection.visible-section {
  opacity: 1;
  transform: translateY(0);
}
#consultationForm {
  background: linear-gradient(rgba(0, 0, 0, 0.632), rgba(0, 0, 0, 0.642));
  background-position: center;
  background-size: cover;
  height: 100%;
}
.fixed-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.close {
  background-color: var(--gold-color);
  border-radius: 50%;
  padding: 5px;
}
.form-img img {
  width: 400px;
  position: absolute;
  left: 180px;
  top: 100px;
}
/* ========================================== */
.section-6 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.632),
      rgba(255, 255, 255, 0.642)
    ),
    url(./img/money-gold.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  padding: 100px 0px;
}
.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}
.timeline-container:nth-child(1) {
  animation-delay: 0s;
}
.timeline-container:nth-child(2) {
  animation-delay: 1s;
}
.timeline-container:nth-child(3) {
  animation-delay: 2s;
}
.timeline-container:nth-child(4) {
  animation-delay: 3s;
}
.timeline-container:nth-child(5) {
  animation-delay: 4s;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
.timeline-text-box {
  padding: 20px 30px;
  background-color: #eba536;
  border-radius: 6px;
  position: relative;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  font-weight: bold;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.step-box {
  width: 40px;
  height: 40px;
  background: var(--brown-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sand-color);
  font-weight: bolder;
  position: absolute;
  right: -20px;
  top: 25px;
  z-index: 10;
}
.right-container .step-box {
  left: -20px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--gold-color);
  right: -14px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--gold-color);
  left: -14px;
}
@media screen and (max-width: 600px) {
  .timeline {
    padding: 50px 0px;
  }
  .timeline::after {
    left: 30px;
  }
  .timeline-container {
    width: 100%;
    padding-right: 25px;
  }
  .timeline-text-box {
    font-size: 18px;
  }
  .right-container {
    left: 0;
  }

  .right-container .step-box,
  .left-container .step-box {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -14px;
  }
}
